<h1>LISTADO DE POKEDEX</h1>
<br /><br />
<div class="row">
  <div class="col-sm-4 form-group">
    <label class="col-sm-4">Nombre:</label>
    <input class="col-sm-8" type="text" [(ngModel)]="nombre" />
  </div>
  <div class="col-sm-4 form-group">
    <label class="col-sm-4">Numero:</label>
    <input class="col-sm-8" type="text" [(ngModel)]="numero" />
  </div>
  <div class="col-sm-4 form-group">
    <button class="form-control btn-primary" (click)="getPokedex()">Buscar</button>
  </div>
</div>
<table class="table">
  <thead style="background-color: #012D74 !important;">
    <tr style="color:white !important;">
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Foto</th>
      <th scope="col">Opción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pokedex of Pokedexs">
      <td>{{pokedex.numero}}</td>
      <td>{{pokedex.nombre}}</td>
      <td>
        <img src="assets/img/{{pokedex.foto}}" width="140" height="140" class="img-fluid"/>
      </td>
      <td>
        <a [routerLink]="['/pokedex',pokedex.id]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Detalle</a>
      </td>
    </tr>
  </tbody>
</table>
